.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 16px;
  border: none;
}

.form input:hover {
  border: none;
}

.form button {
  padding: 10px 20px;
  background-color: #35e9ce;
  color: #282343;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form input:hover {
  border: none !important;
  outline: none;
}

.form input:focus {
  border: none !important;
  outline: none;
}

.error {
  color: #e5e8fa;
  font-size: 16px;
}
